<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamako Mali</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/load-navbar.js" defer></script>
</head>

<body>

    <div id="navbar-container"></div>
    <div class="country-layout">
    <aside class="sidebar">
    <h2>Other Mali Regions</h2>
    <ul>
      <li><a href="bamako_mali.html">Bamako</a></li>
      <li><a href="bandiagara_mali.html">Bandiagara</a></li>
      <li><a href="bougouni_mali.html">Bougouni</a></li>
      <li><a href="dioila_mali.html">Dioila</a></li>
      <li><a href="douentza_mali.html">Douentza</a></li>
      <li><a href="gao_mali.html">Gao</a></li>
      <li><a href="kayes_mali.html">Kayes</a></li>
      <li><a href="kidal_mali.html">Kidal</a></li>
      <li><a href="kita_mali.html">Kita</a></li>
      <li><a href="koulikoro_mali.html">Koulikoro</a></li>
      <li><a href="koutiala_mali.html">Koutiala</a></li>
      <li><a href="menaka_mali.html">Menaka</a></li>
      <li><a href="mopti_mali.html">Mopti</a></li>
      <li><a href="nara_mali.html">Nara</a></li>
      <li><a href="nioro_mali.html">Nioro</a></li>
      <li><a href="san_mali.html">San</a></li>
      <li><a href="segou_mali.html">Segou</a></li>
      <li><a href="sikasso_mali.html">Sikasso</a></li>
      <li><a href="taoudenit_mali.html">Taoudenit</a></li>
      <li><a href="tombouctou_mali.html">Tombouctou</a></li>
    </ul>
  </aside>



    <div class="country-page-content">
      <h1>Bamako Mali</h1>
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>

    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>
    
    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>
    
    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>

    <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>

    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>
    
    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>
    
    
      <h2>Introduction and foundation</h2>
      <p>Jama'at Nasr al-Islam wal-Muslimin (JNIM) is a Salafi Jihadist militant organisation operating in the Sahel 
        region of sub-Saharan Africa. It was created in 2017 as a merger of 
        4 salafi-jihadist organizations in the sahel (including AQIM) and has 
        since opperated as a sub-group of al-Qaeda.</p> 

      <p>The ranks of JNIM total 6,000 troops mainly from the Tuareg and Fulani 
        ethnic groups in Mali. It operates in both Arabic and French but curent 
        leaders prefer Arabic. The curent leader and founder of JNIM is Iyad Ag 
        Ghaly, a Tuareg militant who has fought in various rebellions since the 
        1980s. He was the founder and leader of the former militant group Ansar 
        Dine and became the leader of JNIM upon it's creation.</p>
    </div>
</body>
</html>