<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamako Mali</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/load-navbar.js" defer></script>
</head>

<body>

    <div id="navbar-container"></div>
    <div class="country-layout">
    <aside class="sidebar">
    <h2>Other Mali Regions</h2>
    <ul>
      <li><a href="bamako_mali.html">Bamako</a></li>
      <li><a href="gao_mali.html">Gao</a></li>
      <li><a href="kayes_mali.html">Kayes</a></li>
      <li><a href="kidal_mali.html">Kidal</a></li>
      <li><a href="kita_mali.html">Kita</a></li>
      <li><a href="koulikoro_mali.html">Koulikoro</a></li>
      <li><a href="menaka_mali.html">Menaka</a></li>
      <li><a href="mopti_mali.html">Mopti</a></li>
      <li><a href="nara_mali.html">Nara</a></li>
      <li><a href="nioro_mali.html">Nioro</a></li>
      <li><a href="san_mali.html">San</a></li>
      <li><a href="segou_mali.html">Segou</a></li>
      <li><a href="sikasso_mali.html">Sikasso</a></li>
      <li><a href="taoudenit_mali.html">Taoudenit</a></li>
      <li><a href="tombouctou_mali.html">Tombouctou</a></li>
    </ul>
  </aside>



    <div class="country-page-content">
       <h1>
        Bamako, Mali
       </h1>
    <h2 id="violence-exposure-index">VEI: 5</h2>

      <h2>Introduction</h2>
      <p>Bamako is the capital city of Mali and the region around the city. It 
        is also the most important economic region for Mali sitting on the Niger
        River which connects it to most of Mali and the ocean. Bamako has held
        political significance since 1908 when the French named it the capitol 
        of French Sudan. Unlike most of the country, Bamako has seen significant
        development in recent years mostly due to its political power and connections 
        to surrounding countries. 
      </p>
      <h2>Jihadism in Bamako</h2>
      <p>Bamako was the target of many attacks during the Islamic Insurgency in the 
        Sahel in the early 2010s and has continued to see attacks since the founding 
        of JNIM in 2017. Bamako is currently being blocked from the rest of the 
        world by JNIM in an effort to pressure the government to cede power. Food 
        and gasoline are boing denied to the city as JNIM attacks any supply convoys 
        en route to Bamako from surrounding countries. In a matter of a few weeks it
        is very possible that we could see yet another country fall to an affiliate 
        of al-Qaeda.</p>
      <h2>Violence Exposure Index</h2>
      <p>Bamako has a Violence Exposure Index (VEI) of 5 out of 100 indicating low 
        relative risk of violence. VEI is our score calculated using total terrorist
        attacks and deaths from those attacks since 2000. Attacks and deaths after 
        2015 are given more weight. With 36 deaths from 14 attacks since 2015 <sup>[1]</sup>, Bamako
        has relatively low jihadist militant action but is still in existential danger
        due to the JNIM blockade.
      </p>
      <figure class="chart">
        <img src="../../static/images/charts/bamako_3mo_avg.svg"
        alt="3-month rolling average deaths in Mali, Niger, and Burkina Faso (2000–2020)">
        <figcaption>3-month rolling average of reported deaths, aggregated monthly.</figcaption>
      </figure>

      <div class="references">
      <h3>References</h3>
        <ol>
          <li>
            Global Terrorism Database (GTD), START, University of Maryland.<br>
            https://www.start.umd.edu/gtd
          </li>
        </ol>
      </div>

    </div>
    </div>

    <footer class="site-footer">
    <p>&copy; Nate Smith - 2025 Terrorism in the Sahel. All rights reserved.</p>
    <p>
    <a href="../../index.html">Home</a> ·
    <a href="../groups/jnim.html">JNIM</a> ·
    <a href="../groups/issp.html">ISSP</a> ·
    <a href="../groups/boko_haram.html">Boko Haram</a> ·
    <a href="../countries/mali.html">Mali</a> ·
    <a href="../countries/mali.html">Burkina Faso</a> ·
    <a href="../countries/mali.html">Niger</a>
    </p>
    </footer>

</body>
</html>