<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandiagara Mali</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div id="navbar-container"></div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ex sint similique officia explicabo, perspiciatis, beatae earum tenetur distinctio fugiat sed! Exercitationem accusantium ex totam delectus, suscipit enim doloribus minus?</p>

    <script src="../../static/js/load-navbar.js"></script>

</body>
</html>

