<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Islamic State Sahel Province</title>
    <link rel="stylesheet" href="../../statics/css/style.css">
</head>
<body>
    <nav class="navbar">
      <div class="logo">
        <a href="index.html">Terrorism In The Sahel</a>
      </div>

      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>

        <li class="dropdown">
          <a href="#">Groups</a>
          <ul class="dropdown-menu">
            <li><a href="jnim.html">JNIM</a></li>
            <li><a href="issp.html">ISSP</a></li>
            <li><a href="boko_haram.html">Boko Haram</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Countries</a>
          <ul class="dropdown-menu">
            <li><a href="mali.html">Mali</a></li>
            <li><a href="burkina_faso.html">Burkina Faso</a></li>
            <li><a href="niger.html">Niger</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</body>
</html>