<nav class="navbar">
      <div class="logo">
        <a href="/..index.html">Terrorism In The Sahel</a>
      </div>

      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>

        <li class="dropdown">
          <a href="#">Groups</a>
          <ul class="dropdown-menu">
            <li><a href="/groups/jnim.html">JNIM</a></li>
            <li><a href="/groups/issp.html">ISSP</a></li>
            <li><a href="/groups/boko_haram.html">Boko Haram</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Countries</a>
          <ul class="dropdown-menu">
            <li><a href="/countries/mali.html">Mali</a></li>
            <li><a href="/countries/burkina_faso.html">Burkina Faso</a></li>
            <li><a href="/countries/niger.html">Niger</a></li>
          </ul>
        </li>
      </ul>
    </nav>
